@page "/forface/post/{id:int}"
@using Services;
@using Models;
@inject IClientPost clientPost;
@inject IClientComment clientComment;
@inject NavigationManager NavigationManager
@inject UserContext user;
@inject ILanguageService lang;


<PageTitle>@lang.GetPhrase("post")</PageTitle>

@if( post != null)
{
    <h2>@lang.GetPhrase("post")</h2>
    <h4>@lang.GetPhrase("createdAt"): @post.CreatedAt</h4>
    <h4>@lang.GetPhrase("user"): @post.User.UserName</h4>
    <h3>@post.Title</h3>

    <p>@post.Content</p>

    @if (post.Comments.Count > 0)
    {
        <h4>@lang.GetPhrase("comments")</h4>
        @foreach (var comment in post.Comments)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@comment.User.UserName</h5>
                    <p class="card-text">@comment.Text</p>
                </div>
            </div>
        }
    }

    <EditForm Model="newComment" OnValidSubmit="@HandleValidSubmit" FormName="comment-form">
            <div class="form-group">
                <label for="Text">@lang.GetPhrase("comment")</label>
                <InputText class="form-control" id="Text" @bind="newComment.Text" />
            </div>
            <button type="submit" class="btn btn-danger">@lang.GetPhrase("publish")</button>
    </EditForm>

}
else
{
    <p>@lang.GetPhrase("noPost")</p>
}

@code{
    [Parameter]
    public int id { get; set; }
    public Post post;
    public Comment newComment = new Comment();

    protected async override void OnInitialized()
    {
        post = await clientPost.GetPost(id.ToString());
        if(post == null)
        {
            await Task.Delay(1000);
            NavigationManager.NavigateTo("/forface/main");
        }
    }

    protected async Task HandleValidSubmit()
    {
        newComment.PostId = post.Id;
        newComment.User = user.GetUserProfile();
        if(newComment.Id == 0)
        {
            await clientComment.PostComment(newComment);
        } 
        else
        {
            await clientComment.PutComment(newComment);
        }
    
    }
}